.info {
  background-color: white;
  width: 90vw;
  height:15vh;
  line-height: 1.8em;
  border-radius: 3vh;
  font-size: 3.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
